{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
    <h1>Alerts</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th>Source IP</th>
            <th>Destination IP</th>
            <th>Source Port</th>
            <th>Destination Port</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for alert in alerts %}
            <tr>
                <td>{{ alert.id }}</td>
                <td>{{ alert.timestamp }}</td>
                <td>{{ alert.src_ip }}</td>
                <td>{{ alert.dst_ip }}</td>
                <td>{{ alert.src_port }}</td>
                <td>{{ alert.dst_port }}</td>
                <td>{{ alert.name }}</td>
                <td>{{ alert.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
