{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Network Traffic</h1>
                <canvas id="lineChart"></canvas>
            </div>
            <div class="col-md-6">
                <h1>App Usage</h1>
                <canvas id="appUsageChart"></canvas>
            </div>
        </div>
        <div>
            <h1>RAM and CPU Usage</h1>
            <canvas id="usageChart"></canvas>
        </div>

        <div class="col-md-6">
            <h1>Keyboard Usage</h1>
            <canvas id="keystrokeChart"></canvas>
        </div>
    </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script>

        var lineChartData = {
            labels: [],
            datasets: [{
                label: 'Network Traffic',
                data: [],
                fill: false,
                cubicInterpolationMode: 'monotone',
                borderColor: 'rgb(172,180,187)',
                borderWidth: 1
            }]
        };

        var ctx = document.getElementById('lineChart').getContext('2d');
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: lineChartData,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                elements: {
                    line: {
                        tension: 0.4,
                        cubicInterpolationMode: 'monotone'
                    }
                }
            }
        });


        var appUsageChartData = {
            labels: [],
            datasets: [{
                label: 'App Usage',
                data: [],
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1,
            }],
        };

        var appUsageCtx = document.getElementById('appUsageChart').getContext('2d');
        var appUsageChart = new Chart(appUsageCtx, {
            type: 'bar',
            data: appUsageChartData,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        },
                    }],
                },
            },
        });

        var ctxUsage = document.getElementById('usageChart').getContext('2d');
        var usageChart = new Chart(ctxUsage, {
            type: 'bar',
            data: {
                labels: ['CPU Usage', 'RAM Usage'],
                datasets: [{
                    data: [0, 0],
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(153, 102, 255, 0.5)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: 100
                        }
                    }]
                }
            }
        });

        function fetchDataAndUpdateChart() {
            fetchCpuData()
                .then(cpuData => {
                    fetchRamData()
                        .then(ramData => {
                            updateUsageChart(cpuData.values[cpuData.values.length - 1], ramData.values[ramData.values.length - 1]);
                        });
                });
        }

        function fetchCpuData() {
            return fetch('{% url "fetch_cpu_data" %}')
                .then(response => response.json());
        }

        function fetchRamData() {
            return fetch('{% url "fetch_ram_data" %}')
                .then(response => response.json());
        }

        function updateUsageChart(cpuUsage, ramUsage) {
            usageChart.data.datasets[0].data = [cpuUsage, ramUsage];
            usageChart.update();
        }

        fetchDataAndUpdateChart(); // Call once at the beginning to initialize the chart
        setInterval(fetchDataAndUpdateChart, 1000); // Update every second

        function updateLineChart() {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    var data = JSON.parse(this.responseText);

                    lineChart.data.labels = data.labels;
                    lineChart.data.datasets[0].data = data.values;
                    lineChart.update();
                }
            };
            xhr.open('GET', '{% url "fetch_data" %}');
            xhr.send();
        }

        function updateAppUsageChart() {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    var data = JSON.parse(this.responseText);

                    appUsageChart.data.labels = data.labels;
                    appUsageChart.data.datasets[0].data = data.values;
                    appUsageChart.update();
                }
            };
            xhr.open('GET', '{% url "fetch_app_data" %}');
            xhr.send();
        }

        updateLineChart();
        setInterval(updateLineChart, 500);

        updateAppUsageChart();
        setInterval(updateAppUsageChart, 500);


        var keystrokeChartData = {
            labels: [],
            datasets: [{
                label: 'Keystroke Count',
                data: [],
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1,
            }],
        };

        var keystrokeCtx = document.getElementById('keystrokeChart').getContext('2d');
        var keystrokeChart = new Chart(keystrokeCtx, {
            type: 'line',
            data: keystrokeChartData,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        },
                    }],
                },
                elements: {
                    line: {
                        tension: 0.4,
                        cubicInterpolationMode: 'monotone'
                    }
                }
            },
        });

        function updateKeystrokeChart() {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    var data = JSON.parse(this.responseText);

                    keystrokeChart.data.labels = data.labels;
                    keystrokeChart.data.datasets[0].data = data.values;
                    keystrokeChart.update();
                }
            };
            xhr.open('GET', '{% url "fetch_typing_data" %}');
            xhr.send();
        }

        updateKeystrokeChart();
        setInterval(updateKeystrokeChart, 500);

        // Get the context of the canvas elements
        var ctxCpu = document.getElementById('cpuUsageChart').getContext('2d');
        var ctxRam = document.getElementById('ramUsageChart').getContext('2d');
        ctxRam.height = 50;
        ctxCpu.height = 50;
        ctxRam.width = 25;
        ctxCpu.width = 25;


        // Define the data structure for CPU usage
        var cpuUsageData = {
            labels: Array.from({length: 10}, (_, i) => i),
            datasets: [
                {
                    label: 'CPU Usage',
                    data: Array(10).fill(0),
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 2,
                    fill: false,
                },
            ],
        };

        // Define the data structure for RAM usage
        var ramUsageData = {
            labels: Array.from({length: 10}, (_, i) => i),
            datasets: [
                {
                    label: 'RAM Usage',
                    data: Array(10).fill(0),
                    borderColor: 'rgba(153, 102, 255, 1)',
                    borderWidth: 2,
                    fill: false,
                },
            ],
        };

        // Create the chart instances
        var cpuUsageChart = new Chart(ctxCpu, {
            type: 'line',
            data: cpuUsageData,
            options: {
                scales: {
                    xAxes: [{
                        display: true,
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        },
                    }],
                },
            },
        });

        var ramUsageChart = new Chart(ctxRam, {
            type: 'line',
            data: ramUsageData,
            options: {
                scales: {
                    xAxes: [{
                        display: true,
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        },
                    }],
                },
            },
        });

        // Function to update the CPU usage chart
        function updateCpuUsageChart() {
            var xhrCpu = new XMLHttpRequest();
            xhrCpu.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    var cpuData = JSON.parse(this.responseText);
                    cpuUsageData.datasets[0].data.push(cpuData.data);
                    cpuUsageData.datasets[0].data.shift();
                    cpuUsageChart.update();
                }
            };
            xhrCpu.open('GET', '{% url "fetch_cpu_data" %}');
            xhrCpu.send();
        }

        // Function to update the RAM usage chart
        function updateRamUsageChart() {
            var xhrRam = new XMLHttpRequest();
            xhrRam.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    var ramData = JSON.parse(this.responseText);
                    ramUsageData.datasets[0].data.push(ramData.data);
                    ramUsageData.datasets[0].data.shift();
                    ramUsageChart.update();
                }
            };
            xhrRam.open('GET', '{% url "fetch_ram_data" %}');
            xhrRam.send();
        }

        setInterval(updateCpuUsageChart, 500);

        updateRamUsageChart();
        setInterval(updateRamUsageChart, 500);
    </script>
{% endblock %}
